{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "./src/"
        ],
        "alias": {
          "@": "../"
        }
      }
    ]
  ]
}